/* menu expandido */
.menu{
    width: 16%;
    height: 100%;
    position: fixed;
    text-align: center; 
    top: 0;
    left: 0;
}

.menu-nav-link{
    display: flex;
    padding-left: 2rem;
    align-items: center;
    color: #212529;
    width: 100%;
}

.menu-nav-link:hover{
    background-color: #212529;
    color: white;
}

.menu-text{
    padding: .5rem 1rem ;
}
.menu-item-content{
    width: 100%;
    margin: 0 2rem;
}

/* Menu collapsado */

.menu.collapsed{
    width: 5%;
}


.menu.collapsed .menu-nav-link{
    justify-content: center;
    padding-left: 1rem;
}

.menu.collapsed .menu-text{
    display: none;
}

