<aside class="menu">
  <div class="menu-logo-content">
    <img class="menu-logo" src="../../assets/webpack-logo.png" alt="logo">
    <h1 class="menu-title">DEAP</h1>
  </div>
  <ul class="menu-nav nav flex-column nav-pills">
    <li class="menu-nav-item nav-item">
      <a
        class="menu-nav-link nav-link"
        href="#/inicio"
        onclick="subRoute('#/inicio')"
      >
        <i class="fas fa-home"></i>
        <span class="menu-text">Dashboard</span>
      </a>
    </li>
    <li class="menu-nav-item nav-item">
      <a
        class="menu-nav-link nav-link"
        href="#/deudas"
        onclick="subRoute('#/deudas')"
      >
        <i class="menu-icon far fa-credit-card"></i>
        <span class="menu-text">Deudas</span>
      </a>
    </li>
    <li class="menu-nav-item nav-item">
      <a
        class="menu-nav-link nav-link"
        href="#/deudores"
        onclick="subRoute('#/deudores')"
      >
        <i class="menu-icon fas fa-wallet"></i>
        <span class="menu-text">Deudores</span>
      </a>
    </li>
  </ul>
</aside>
