/* menu expandido */
.menu{
    width: 16%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-nav-link, .menu-logo-content{
    display: flex;
    padding-left: 2rem;
    align-items: center;
    color: #212529;
}

/* logotipo */
.menu-logo-content{
    justify-content: center;
    padding: 0 1rem;
    margin-top: 1rem;
}
.menu-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-title{
    font-family: nunito;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

/* menú */

.menu-nav{
    margin-top: .5rem;
}

.menu-nav-link:hover{
    background-color: #212529;
    color: white;
}

.menu-text{
    padding: .5rem 1rem ;
}
.menu-item-content{
    margin: 0 2rem;
}

/* Menu collapsado */

.menu.collapsed{
    width: 5%;
}


.menu.collapsed .menu-nav-link{
    padding: 1.2rem 1rem;
    justify-content: center;
}


.menu.collapsed .menu-text, .menu.collapsed .menu-title{
    display: none;
}

