<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Deuda Total</th>
        <th scope="col">Ultimo Registro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ><a  class="name" href='javascript:link("manuel")'>manuel</a></td>
        <td >10</td>
        <td>10/08/2021</td>
      </tr>
      <tr>
        <td ><a class="name"  href='javascript:link("kevin")'>kevin</a></td>
        <td >10</td>
        <td>10/08/2021</td>
      </tr>
      <tr>
        <td ><a class="name"  href='javascript:link("manuel")'>manuel</a></td>
        <td >10</td>
        <td>10/08/2021</td>
      </tr>
    </tbody>
  </table>