<section class="section-newDebt mt-4 p-4">
    <div
      class="text-content d-flex justify-content-between align-items-center"
    >
      <h2 class="title">Agregar deuda</h2>
      <a href="#/" class="btn btn-danger me-2 btn-back"><</a>
    </div>
    <form class="form" id="form">
      <div class="mb-3 form-text-container">
        <input
          type="text"
          class="form-control form-text-item"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-3 form-text-container">
        <input
          type="text"
          class="form-control"
          placeholder="Descripción"
        />
      </div>
      <div class="mb-3 form-text-container">
        <input
          type="number"
          class="form-control"
          placeholder="Valor"
        />
      </div>
      <button type="submit" class="btn btn-dark">Agregar</button>
    </form>
  </section>