<header class="header">
  <h1 class="side-title">DebtsApp</h1>
  <hr />
  <ul class="side-nav">
    <li class="side-nav-list">
      <a class="side-nav-item" href="#/home" onclick="subRoute('#/home')"
        >Inicio</a
      >
    </li>
    <li class="side-nav-list">
      <a class="side-nav-item" href="#/debts" onclick="subRoute('#/debts')"
        >Deudas</a
      >
    </li>
    <li class="side-nav-list">
      <a class="side-nav-item" href="#" onclick="subRoute('#')">Deudores</a>
    </li>
  </ul>
</header>
