<header class="header">
  <h1 class="side-title">DebtsApp</h1>
  <hr />
  <ul class="side-nav">
    <li class="side-nav-list">
      <a class="side-nav-item" href="#/inicio" onclick="subRoute('#/inicio')"
        >Inicio</a
      >
    </li>
    <li class="side-nav-list">
      <a class="side-nav-item" href="#/deudas" onclick="subRoute('#/deudas')"
        >Deudas</a
      >
    </li>
    <li class="side-nav-list">
      <a class="side-nav-item" href="#/deudores" onclick="subRoute('#/deudores')">Deudores</a>
    </li>
  </ul>
</header>
