.account-user{
    align-items: center;
    background-color: #fafbfd;
    border: 1px solid #f1f3fa;
    display: flex;
    justify-content:center;
    min-height: 70px;
    padding: 1rem 1rem;
}

.account-user:hover{
    cursor: pointer;
}

.account-user-avatar{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.navbar{
    display: flex;
    font-size: 1.3rem;
    height: 70px;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.navbar-btn{
    cursor: pointer;
}

