body{
    display: flex;
    height: 100vh ;
}

main{
    width: 100%;
}



.content-wrapper{
    width: 400px;
    height: 250px;
    margin: 0 2rem;
    border-radius: 7%;
}

.btn:not(:last-child){
    margin-right: 1rem;
}


.btn-back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.form{
    width: 100%;
    margin-top: .5rem;
}

.form-text-container{
    width: auto;
}
